.pmt-item {
  position: relative;
  color: $gray-text;
  padding-bottom: 0.75rem;

  .pmt-input {
    display: block;
    width: 100%;
    border: none;
    padding: 0.25rem 0;
    padding-top: 0.5rem;

    &:focus,
    &.has-value {
      padding-top: 0.5rem;

      & + .pmt-label {
        font-size: 0.8rem;
        color: $blue-600;
      }
    }

    &:invalid {
      & ~ .pmt-error {
        display: block;
      }
    }
  }

  .pmt-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: $size-lg;
    transition: all 0.5s;
  }

  .pmt-error {
    display: none;
    color: $red-500;
    font-size: $size-sm;
  }
}

.phone {
  display: none !important;
}
