// Khai báo biến sass ở đây
$test: #000;
$mycolor: #fff;

$primary: #fff;
$secondary: #fb4226;

$black: #333;

$border-gray-300: #d1d5db;

$gray-text: #9b9b9b;
$green-text: #44c020;
$gray-btn: #afafaf;

$blue-600: #1e40af;
$red-500: #fb4226;

$size-xs: 0.5rem;
$size-sm: 0.75rem;
$size-base: 1rem;
$size-lg: 1.25rem;
